<template name="aboutHistafrique">
	<div class="about-team" id="team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-heading">
						<h3>About histAfrique</h3>
						<span class="col-line"></span>
					</div>
					<p align="center">
						histAfrique started as Tripgh in January 2015. The aim of Tripgh was to provide Ghanaians and expatriates the ability to view interesting places in Ghana, provide a little history with high quality images and the ability to find hotels surrounding these places. Tripgh was supposed to generate reviews which would influence people’s decision on places to visit. The idea was very competitive and challenging. On moving on, I realised other software entrepreneurs both Ghanaians and non-Ghanaians(TripAdvisor etc) had explored this space and added more features. I pivoted to Tourgh. This was also a platform that could serve any user with the rich Ghanaian historical places we have, provide accurate history and high quality images.

						I guess this was in the same line with the earlier idea(TripGh), just that this was to be more precise and focused on rich Ghanaian history. I avidly researched on this space and noticed that there wasn’t a central point where all Ghanaian history were kept on the internet so I took up the challenge to create a central point where all Ghanaian history can kept. Moving on with this project, I noticed that Africa in general has great history and people from other cultures will like to learn about african culture. How will they be able to do that? An obvious way is to search Google, and get information from other websites or blogs, but you needed to navigate through many websites to be able to find the little information that is available. Hence, I decided to expand Tourgh to focus on Africa. Thus creating a hub of history in Africa. So,TourGh became histAfrique, which means History of Africa

						histAfrique is a centralized online platform that documents the historical places in Africa with beautiful images, where users can leave reviews and likes. The vision of this platform is to be a central point of information for African history. This platform is open to anyone who would like to know the beautiful history behind some beautiful historical places in Africa even before they first visit these places. histAfrique content is reviewed by top scholars of African history across the continent and is also open to any person who has indepth knowledge and interest in the subject.
					</p>
					
					<div class="col-heading">
						<h3>The man behind histAfrique</h3>
						<span class="col-line"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="team-member text-center">
						<img class=" img-circle" src="images/founder.jpg" alt="team">
						<div class="team-img-meta">
							<h5>Kennedy Anyinatoe</h5>
							<h6>Software Entreprenuer.</h6>
							<p>
								Software entrepreneur at meltwater. 
							</p> 
							<ul class=" list-inline social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul> 
						</div>
					</div>
				</div>
				
								<!-- <div class="col-sm-6 col-md-3">
					<div class="team-member text-center">
						<img class="img-responsive" src="images/team-2.jpg" alt="team">
						<div class="team-img-meta">
							<h5>John Doe</h5>
							<h6>Founder</h6>
							<p>Maecenas suscipit imperdiet adipiscing sceleris integer posuere erat venenatis pellentesque</p> 
							<ul class=" list-inline social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul> 
						</div>
					</div>
				</div> -->

				<!-- <div class="col-sm-6 col-md-3">
					<div class="team-member text-center">
						<img class="img-responsive" src="images/team-3.jpg" alt="team">
						<div class="team-img-meta">
							<h5>John Doe</h5>
							<h6>Founder</h6>
							<p>Maecenas suscipit imperdiet adipiscing sceleris integer posuere erat venenatis pellentesque</p> 
							<ul class=" list-inline social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul> 
						</div>
					</div>
				</div> -->

				<!-- <div class="col-sm-6 col-md-3">
					<div class="team-member text-center">
						<img class="img-responsive" src="images/team-4.jpg" alt="team">
						<div class="team-img-meta">
							<h5>John Doe</h5>
							<h6>Founder</h6>
							<p>Maecenas suscipit imperdiet adipiscing sceleris integer posuere erat venenatis pellentesque</p> 
							<ul class=" list-inline social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul> 
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</template>