<template name="comments">
	<div class="body">
		

      <!-- Headblog
      ================================================== -->
      <section>
      	<div id="headblog-section">
      		<div class="container">
      			<div class="col-md-12">
      				<div class="title-head-blog">
                {{#with eventscomment}}
                <h1>{{placeName}}</h1>
                {{/with}}
                <hr>
              </div> <!-- end title-head-blog -->
            </div> <!-- end col-md-12 -->
          </div> <!-- end container -->
        </div>
      </section>
      <!-- end headblog section -->

      <!-- Blog-content
      ================================================== -->
      <section>
      	<div id="blog-content-section">
      		<div class="container">
      			
      			<div class="row">
      				<div class="col-md-7 col-md-offset-1">

      					<!-- Blog Post -->
      					{{#with eventscomment}}
      					<div class="blog-post">

      						<div class="date-post">
      							<span>
      								18 
      								<br>
      								<small>Ian</small>
      							</span>
      						</div> <!-- end date-post -->

      						<div class="post">

      							<div class="post-media">
      								<div class="entry-image">
      									


                        <img class="img-thumbnail" width="560px" height="700px" src="{{absoluteImageUrl}}" alt="" >
                        


                      </div> <!-- end entry-image -->
                    </div> <!-- end post-media -->

                    <h3 class="post-title">{{placeName}}</h3>

                    <div class="post-body">
                      <p class="historical-content">
                       {{history}}
                     </p>
                     
                     <p>
                       Source of Information: {{source}}<br>
                       <!-- {{> lmSocialShare opts=opts}} -->
                       <!-- {{> shareit dataContext}} -->
                       <!-- <div class="fb-share-button" data-href="http://histafrique.meteor.com/" data-layout="button_count"></div> -->
                       
                       <!-- posted by: {{username}} -->
                     </p>
                   </div> <!-- end post-body -->

                 </div> <!-- end post -->

               </div> <!-- end blog-post -->
               <div id="comments" class="clearfix">
                <h5 class="comments-title">
                 Comments - {{commentsCount _id}}
               </h5>
             </div>
             {{/with}}
             <div id="comments" class="clearfix">

              <div class="comment-body">

               <!-- Blog Comment -->
               {{#each comments}}
               <div class="media">
                <a class="media-left img-rounded" href="#">
                 <i class="fa fa-comments fa-3x"></i>
               </a>
               
               <div class="media-body">
                 <h6 class="media-heading"><a href="#"> {{name}}
                  <p>{{email}}</p>
                </a></h6>
                <p> {{ tm_now createdAt}}</p>
                <p>{{comment}}
                </p>
              </div> <!-- end media-body -->
            </div> <!-- end media -->
            {{/each}}
            <!-- Blog Comment -->

          </div> <!-- end comment-body -->
          {{#if currentUser}}
          <button type="submit" class="btn clean" data-toggle="modal" data-target="#commentModal">Post comment</button>
          {{else}}
          <button type="submit" class="btn clean" data-toggle="modal" data-target="#signinBeforeComment">Post comment</button>
          {{/if}}




          <!-- Comment form -->

        </div> <!-- end comments -->

      </div> <!-- end col-md-7 -->

      <div class="col-md-3">
       <div class="sidebar">



         <!-- Recent Posts -->
         <div class="widget">
          {{#with eventscomment}}
          <h5>Recent Posts</h5>
          <ul>
           <li><a href="{{pathFor 'events'}}" title="historical places">More historical places</a></li>
           <li><a href="{{pathFor 'eventPictures' _id=_id}}" title="image gallery">Picture Gallery</a></li>

           <li> <a href="http://www.facebook.com/sharer.php?u={{urlFor 'comments' _id=_id}}" target="_blank" class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i>Share on facebook</a></li>
           <li> <a href="http://twitter.com/share?url={{urlFor 'comments' _id=_id}}" target="_blank" class="btn btn-block btn-social btn-twitter"><i class="fa fa-facebook"></i>Share on twitter</a></li>
         </ul>
         {{/with}}
       </div> <!-- end widget -->
     </div> <!-- end sidebar -->
   </div> <!-- end col-md-3 -->
 </div> <!-- end row -->

</div> <!-- end container -->
</div> <!-- end blog-content-section -->
</section>
<!-- end blog section -->
</div>

</template>