<template name="myBoard">
	<div class="body">
		{{#if currentUser}}
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createEvent">
			<h4>Add place</h4>
		</button>
		<div class="container">
			<div class="row">
				{{#each dashboardevents}}
				{{#if isOwner}}
				<!-- Card Projects -->
				<div class="col-md-4">
					<div class="card">
						<div class="card-image">
							{{#with FS.GetFile 'images' picture}}
							<img class="img-thumbnail" width="560px" height="500px" src="{{this.url}}" alt="" >
							<span class="card-title">{{placeName}}</span>
							{{/with}}
						</div>

						<div class="card-content">
							<p>{{history}}</p>
						</div>

						<div class="card-action">
							<!-- <i class="fa fa-envelope-o"></i><a href="" target="new_blank"></a> -->
							<a href="#">{{location}}</a>
							
							<a href="#"> <i class="fa fa-pencil" data-toggle="modal"  data-target="#editEvent"></i></a>

							
							
							{{> quickRemoveButton collection="Events" _id=this._id onError=onError onSuccess=onSuccess beforeRemove=beforeRemove class="btn btn-danger"}}<i class="fa fa-trash-o"></i>

							
						</div>
					</div>
				</div>
				{{/if}}
				{{/each}}
			</div>
		</div>
		{{else}}
		<div class="alert alert-info">
			Please Login to view your data
		</div>
		{{/if}}
	</div>
</template>