<template name="events">
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createEvent">
		Create Event
	</button>
	<div class="container">
		<div class="row">
			<!-- Card Projects -->
			{{#each createevents}}
			<div class="col-md-4">
				<div class="card">
					<div class="card-image">
						{{#with FS.GetFile 'images' picture}}
						<img class="img-thumbnail" width="560px" height="500px" src="{{this.url}}" alt="" >
						<span class="card-title">{{placeName}}</span>
						{{/with}}
					</div>

					<div class="card-content">
						<p>{{history}}</p>
					</div>

					<div class="card-action">
						<!-- <i class="fa fa-envelope-o"></i><a href="" target="new_blank"></a> -->
						<a href="#">{{location}}</a>
						<a href="#" target="new_blank">{{contact}}</a>
						<a href="{{pathFor 'eventPictures'  _id=_id}}" target="">View More</a>

						<a id="join" href="#" data-toggle="modal" data-book-event="{{_id}}" data-target="#bookEvent">Join</a>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</template>