<template name="events">

	<div class="createevent animated bounceIn row">
		{{#if currentUser}}
		<div class="col-lg-4 col-md-3 col-xs-1">&nbsp;</div>
		<div class="col-lg-4 col-md-6 col-xs-10 addhistory-btn">
			<button type="button" class="btn btn-primary btn-lg createeventbutton" data-toggle="modal" data-target="#createEvent">
				<h4>Add history</h4>
			</button>
		</div>

		<div class="col-lg-4 col-md-3 col-xs-1">&nbsp;</div>
		{{/if}}

	</div>
	<div class="container">
		<div class="row">
			<div class="span12">
				<form id="custom-search-form" class="form-search form-horizontal pull-right">
					<div class="input-append span12">
						<input type="text" id="searchtext" class="search-query" placeholder="Search by Place name">
					</div>
				</form>
			</div>
		</div>
	</div>

 <!-- Blog
 ================================================== -->
 <section>
 	<div id="blog-section">
 		<div class="container">
 			<div class="title-section animated bounceInUp" data-animation="fadeInUp" data-delay="0">
 				<h3>Historical places with images and History</h3>
 				<hr>
 				<p>Read about historical places in Africa, view images, like, and share your experience</p>
 			</div> <!-- end title-section -->
 			<div class="blog-posts">
 				<div class="row">
 					{{#if Template.subscriptionsReady}}
 					{{#each createevents}}
 					<!-- Post -->
 					<div class="col-md-4 wow zoomIn">
 						<div class="entry-post " data-animation="fadeInLeft" data-delay="0">
 							<div class="entry-image resize wow fadeInUp">
 								<a href="{{pathFor 'comments' _id=_id}}" id="eventpicture">
 									
 									<img class="img-thumbnail" width="560px" height="700px" src="{{absoluteImageUrl}}" alt="" >
 									<!-- <span class="card-title">{{pictureName}}</span> -->

 									<div class="hover-item imageclick">
 										<span class="link-icon"><i class="fa fa-ellipsis-h"></i></span>
 									</div> <!-- end hover-item -->
 								</a>
 							</div> <!-- end entry-image -->
 							<div class="post-meta">
 								<p><span class="location">{{country}} | {{province}}</span> | <span class="comment"><a href="{{pathFor 'comments' _id=_id}}">{{commentsCount _id}} <i class="fa fa-weixin"></i></a></span> | <span class="likes"><a href="#" data-likes-event="{{_id}}"><i class="fa fa-thumbs-up"></i> {{likes}}</a></span> | <span class="comment"><a href="{{pathFor 'eventPictures'  _id=_id}}" id="viewImages">View images </a></span>
 								</p>
 							</div> <!-- end post-meta -->
 							<h4 class="post-title"><a href="{{pathFor 'comments'}}">{{placeName}}</a></h4>
 							<div class="post-body">
 								<p class="history">{{history}}</p>
 							</div> <!-- end post-body -->
 						</div> <!-- end entry-post -->
 					</div> <!-- end col-md-4 -->
 					{{/each}}
 					{{else}}
 					<!-- {{> spinner}} -->
 					<div class="spinner">
 						<div class="container">
 							<header class="header">
 								<a href="index.html">Effect One</a>
 								<a href="effect2.html">Effect Two</a>
 								<a href="effect3.html">Effect Three</a>
 								<a href="effect4.html">Effect Four</a>
 							</header>

 							<div class="clear-loading loading-effect-1">
 								<span></span>
 								<span></span>
 								<span></span>
 							</div>

 						</div>
 					</div>
 					{{/if}}

 				</div> <!-- end row -->
 			</div> <!-- end blog-posts -->
 		</div> <!-- end container -->
 	</div>
 </section>
 <!-- End blog section -->
 <!-- Action -->
 <section>
 	<div id="action-section">
 		<div class="container">
 			<div class="call-to-action animated out" data-animation="fadeInUp" data-delay="0">
 				<!-- {{> Paginator_UI events}} -->
 				<a href="#" class="btn clean">{{> Paginator_UI events}}</a>
 			</div> <!-- end call-to-action -->
 		</div> <!-- end container -->
 	</div>
 	<!-- {{> Paginator_UI events}} -->
 </section>
</template>
