<template name="createEventPicture">
	<div class="body">

		<button type="button" class="eventspicturebutton btn btn-primary btn-lg" data-toggle="modal" data-target="#createEventPicture">
			<h4>Add more picture</h4>
		</button>
		<br>
		
	</div>


	 <!-- Blog
	 ================================================== -->
	 <section>
	 	<div id="blog-section">
	 		<div class="container">
	 			<div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
	 				<h3> Image Gallery</h3>
	 				<hr>
	 				<p>More Images from {{eventName}}. Explore them yourself</p>
	 			</div> <!-- end title-section -->
	 			<div class="blog-posts">
	 				<div class="row">
	 					{{#if Template.subscriptionsReady}}
	 					{{#if eventpictures}}
	 					{{#each eventpictures}}
	 					<!-- Post -->
	 					<div class="col-md-4">
	 						<div class="entry-post " data-animation="fadeInLeft" data-delay="0">
	 							<div class="entry-image wow fadeInUp">
	 								
	 								<a href="#" data-toggle="modal" data-target="#picturedropdown" class="imageclick" data-id="{{_id}}">
	 									
	 									<img class="img-thumbnail" width="560px" height="700px" src="{{absoluteImageUrl}}" alt="" >
	 									<span class="card-title">{{pictureName}}</span>
	 									
	 									<div class="hover-item">
	 										<span class="link-icon"><i class="fa fa-ellipsis-h"></i></span>
	 									</div> <!-- end hover-item -->
	 								</a>
	 								
	 							</div> <!-- end entry-image -->

	 						</div> <!-- end entry-post -->
	 					</div> <!-- end col-md-4 -->
	 					{{/each}}
	 					{{else}}
	 					<h1>No Data found here</h1>
	 					{{/if}}
	 					{{else}}
	 					<!-- {{> spinner}} -->
	 					<div class="spinner">
	 						<div class="container">
	 							<header class="header">
	 								<a href="index.html">Effect One</a>
	 								<a href="effect2.html">Effect Two</a>
	 								<a href="effect3.html">Effect Three</a>
	 								<a href="effect4.html">Effect Four</a>
	 							</header>

	 							<div class="clear-loading loading-effect-1">
	 								<span></span>
	 								<span></span>
	 								<span></span>
	 							</div>

	 						</div>
	 					</div>
	 					<!-- <center><h3> Loading... </h3></center> -->
	 					{{/if}}
	 				</div> <!-- end row -->
	 			</div> <!-- end blog-posts -->
	 		</div> <!-- end container -->
	 	</div>
	 </section>
	 <!-- End blog section -->

	 <!-- Action -->
	 <section>
	 	<div id="action-section">
	 		<div class="container">
	 			<div class="call-to-action animated out" data-animation="fadeInUp" data-delay="0">
	 				<a href="{{pathFor 'events'}}" class="btn clean">All history</a>
	 			</div> <!-- end call-to-action -->
	 		</div> <!-- end container -->
	 	</div>
	 </section>
	 <!-- End action section -->





	</template>