<template name="events">
	<div class="body">
		<!-- {{> Events}} -->
		
		{{#if currentUser}}
		<div class="createevent animated bounceIn">
			
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createEvent">
				<h4>Add history</h4>
			</button>

		</div>
		
		{{else}}
		<div class="jumbotron">
			<h4 align="center">please signIn to add historical place
			</h4>
			<p align="center">

				<a href="{{pathFor 'signin'}}" class="btn clean">Sign-In</a>
			</p>
		</div>
		{{/if}}

		<!-- SEARCH BOX BUT N0T FUNCTIONING WELL -->
		
	</div>
	<div class="container">
		<div class="row search-row">
			<div class="span12">
				<form id="custom-search-form" class="form-search form-horizontal pull-right">
					<div class="input-append span12">
						<input type="text" class="search-query" placeholder="Search">
						
						<button type="submit" class="btn"><i class="icon-search"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>

 <!-- Blog
 ================================================== -->
 <section>
 	<div id="blog-section">
 		<div class="container">
 			<div class="title-section animated bounceInUp" data-animation="fadeInUp" data-delay="0">
 				<h3>Historical places with images and History</h3>
 				<hr>
 				<p>Post historical place with its picture and people can share their experiences</p>
 			</div> <!-- end title-section -->
 			<div class="blog-posts">
 				<div class="row">
 					
 					{{#each createevents}}
 					<!-- Post -->
 					<div class="col-md-4 wow zoomIn">
 						<div class="entry-post " data-animation="fadeInLeft" data-delay="0">
 							<div class="entry-image resize wow fadeInUp">
 								<a href="{{pathFor 'eventPictures'  _id=_id}}" id="eventpicture">
 									{{#with FS.GetFile 'images' picture}}
 									<img class="img-thumbnail" width="560px" height="700px" src="{{this.url}}" alt="" >
 									<span class="card-title">{{pictureName}}</span>
 									{{/with}}
 									<div class="hover-item">
 										<span class="link-icon"><i class="fa fa-ellipsis-h"></i></span>
 									</div> <!-- end hover-item -->
 								</a>
 							</div> <!-- end entry-image -->

 							<div class="post-meta">
 								<p><span class="location">{{country}} | {{province}}</span> | <span class="comment"><a href="{{pathFor 'comments' _id=_id}}">{{commentsCount _id}} <i class="fa fa-weixin"></i></a></span> | <span class="likes"><a href="#" data-likes-event="{{_id}}"><i class="fa fa-thumbs-up"></i> {{likes}}</a></span> | <span class="comment"><a href="{{pathFor 'comments' _id=_id}}">Readmore... </a></span>
 								</p>
 							</div> <!-- end post-meta -->
 							<h4 class="post-title"><a href="{{pathFor 'comments'}}">{{placeName}}</a></h4>
 							<div class="post-body">
 								<p class="history">{{history}}</p>
 							</div> <!-- end post-body -->
 						</div> <!-- end entry-post -->
 					</div> <!-- end col-md-4 -->
 					{{/each}}
 					

 				</div> <!-- end row -->
 			</div> <!-- end blog-posts -->
 		</div> <!-- end container -->
 	</div>
 </section>
 <!-- End blog section -->

 <!-- Action -->
 <section>
 	<div id="action-section">
 		<div class="container">
 			<div class="call-to-action animated out" data-animation="fadeInUp" data-delay="0">
 				<a href="#" class="btn clean">View all posts</a>
 			</div> <!-- end call-to-action -->
 		</div> <!-- end container -->
 	</div>

 </section>

</template>
