<template name="footer">

  <footer>
    <div class="footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <h3> Lorem Ipsum </h3>
            <ul>
              <li> <a href="#"> Lorem Ipsum </a> </li>
              <li> <a href="#"> Lorem Ipsum </a> </li>
              <li> <a href="#"> Lorem Ipsum </a> </li>
              <li> <a href="#"> Lorem Ipsum </a> </li>
            </ul>
          </div>
          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <h3> Lorem Ipsum </h3>
            <ul>
              <li> <a href="#"> Lorem Ipsum </a> </li>
              <li> <a href="#"> Lorem Ipsum </a> </li>
              <li> <a href="#"> Lorem Ipsum </a> </li>
              <li> <a href="#"> Lorem Ipsum </a> </li>
            </ul>
          </div>
          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <h3> Lorem Ipsum </h3>
            <ul>
              <li> <a href="#"> Lorem Ipsum </a> </li>
              <li> <a href="#"> Lorem Ipsum </a> </li>
              <li> <a href="#"> Lorem Ipsum </a> </li>
              <li> <a href="#"> Lorem Ipsum </a> </li>
            </ul>
          </div>
          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <h3> Lorem Ipsum </h3>
            <ul>
              <li> <a href="#"> Lorem Ipsum </a> </li>
              <li> <a href="#"> Lorem Ipsum </a> </li>
              
            </ul>
          </div>
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 footer-social-media">


            <ul class="social">
              <li> <a href="https://kenasco2010.github.io"> <i class="fa fa-link"> </i> </a> </li>
              <li> <a href="https://www.facebook.com/kennedy.anyinatoe"> <i class=" fa fa-facebook">   </i> </a> </li>
              <li> <a href="https://twitter.com/kennitwit"> <i class="fa fa-twitter">   </i> </a> </li>
              <li> <a href="https://plus.google.com/105043027016272791499/posts"> <i class="fa fa-google-plus">   </i> </a> </li>
              <li> <a href="https://github.com/Kenasco2010"> <i class="fa fa-github">   </i> </a> </li>
            </ul>
          </div>
        </div>
        <!--/.row--> 
      </div>
      <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
      <div class="container">
        <p class="pull-left"> Copyright © histAfrique 2015. All right reserved. </p>
       <!--  <div class="pull-right">
          <ul class="nav nav-pills payments">
            <li><i class="fa fa-cc-visa"></i></li>
            <li><i class="fa fa-cc-mastercard"></i></li>
            <li><i class="fa fa-cc-amex"></i></li>
            <li><i class="fa fa-cc-paypal"></i></li>
          </ul> 
        </div> -->
      </div>
    </div>
    <!--/.footer-bottom--> 
  </footer>

</template>