<template name="home">
	<script>
		new WOW().init();
	</script>
	<section class="slider" id="top">
		<div id="novelty-home-slider" class="carousel slide" data-ride="carousel">

			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="/images/slider-image-1.jpg" alt="...">
					<div class="carousel-caption">
						<h1>Don't Miss any Trip </h1>
						<p class="hidden-xs"><h5>Generosity. Positivity. Standard.</h5>
						</p>
						<a href="http://www.meltwater.org" class="hidden-xs btn btn-outline btn-primary btn-icon active btn-lg btn-rounded wow bounceInUp" data-wow-delay="0.5s">Take a Tour<!-- <span class="fa fa-angle-right icon-with-btn"></span> --></a>
						<a href="{{pathFor 'jobs'}}" class="hidden-xs btn btn-outline btn-white btn-icon btn-lg btn-rounded wow bounceInUp" data-wow-delay="0.7s">Find Jobs now<!-- <span class="fa fa-angle-right icon-with-btn"></span> --></a>
					</div>
				</div>
				<div class="item">
					<img src="/images/slider-image-2.jpg" alt="...">
					<div class="carousel-caption">
						<h1 class="wow bounceInDown">Great Standard and Difference</h1>
						<p class="hidden-xs wow bounceInLeft"><h5>Join Awesome People for a great Trip</h5>
						</p>
						<a href="#" class="hidden-xs btn btn-outline btn-primary btn-icon active btn-lg btn-rounded wow bounceInLeft" data-wow-delay="0.5s">Take a Tour<span class="fa fa-angle-right icon-with-btn"></span></a>
						<a href="#" class="hidden-xs btn btn-outline btn-white btn-icon btn-lg btn-rounded wow bounceInRight" data-wow-delay="0.7s">Find Jobs Now<span class="fa fa-angle-right icon-with-btn"></span></a>
					</div>
				</div>
				<div class="item">
					<img src="/images/slider-image-3.jpg" alt="...">
					<div class="carousel-caption">
						<h1 class="wow bounceInLeft">Mest Job site</h1>
						<p class="hidden-xs"><h5>Apply for a job here and become a good leader</h5>
						</p>
						<a href="#" class="hidden-xs btn btn-outline btn-primary btn-icon active btn-lg btn-rounded wow fadeInUp" data-wow-delay="0.5s">Take a Tour<span class="fa fa-angle-right icon-with-btn"></span></a>
						<a href="#" class="hidden-xs btn btn-outline btn-white btn-icon btn-lg btn-rounded wow fadeInDown" data-wow-delay="0.7s">Find Jobs Now <span class="fa fa-angle-right icon-with-btn"></span></a>
					</div>
				</div>

			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#novelty-home-slider" role="button" data-slide="prev">
				<span class="fa fa-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#novelty-home-slider" role="button" data-slide="next">
				<span class="fa fa-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

	</section>
</template>