<template name="home">
<!-- Home
	================================================== -->

	<!-- <div class="body"> -->

	<section class="banner">
		<div id="bannerSlider" class="carousel carousel-fade slide" data-ride="carousel">
			<!-- Indicators -->
			<div class="carousel-inner">
				<div class="item active" style="background-image:url(/images/elminacastle1.jpg);">
					<div class="carousel-caption">
						<div class="container">
							<div class="col-md-12">
								<div class="content-home-slider">
									<h1>Know your History</h1>
									<h3>Discover Historical Places in Africa.</h3>
									<div class="btn-orange"><a href="{{pathFor 'events'}}">Take a Tour</a></div> 
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="item" style="background-image:url(/images/eagle.jpg);">
					<div class="carousel-caption">
						<div class="container">
							<div class="col-md-12">
								<div class="content-home-slider">
									<h1>Amazing Histories</h1>
									<h2>histAfrique provides you with authentic African history</h2>
									{{#if currentUser}}
									<div class="btn-orange"><a href="{{pathFor 'events'}}">Take a Tour</a></div> 
									{{else}}
									<div class="btn-orange"><a href="{{pathFor 'signup'}}#">Add History</a></div>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="item" style="background-image:url(/images/blackstarsquare.jpg);">
					<div class="carousel-caption">
						<div class="container">
							<div class="col-md-12">
								<div class="content-home-slider">
									<h1>Simple & Easy</h1>
									<h2>Signup, view interesting historical places with images and visit!</h2>
									{{#if currentUser}}
									<div class="btn-orange"><a href="{{pathFor 'events'}}">Take a Tour</a></div> 
									{{else}}
									<div class="btn-orange"><a href="{{pathFor 'signup'}}">Try histAfrique for free</a></div>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			
			<ol class="carousel-indicators">
				<li data-target="#bannerSlider" data-slide-to="0" class="active"></li>
				<li data-target="#bannerSlider" data-slide-to="1"></li>
				<li data-target="#bannerSlider" data-slide-to="2"></li>
			</ol>
		</div><!-- /.carousel -->

	</section>

	<!-- </div> -->

<!-- About 
	================================================== -->
	<section>
		<div id="about-section">
			<div class="container">
				<div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
					<h3>About histAfrique</h3>
					<hr>
					<p>histAfrique is an online application that displays all historical places in Africa to world with images, detailed history and allows anyone to leave a review of the place based on their experience. <a href="{{pathFor 'aboutHistafrique'}}"> Read more...</a></p>
				</div> <!-- end title-section -->

				<div class="about-us">
					<div class="row">

						<div class="col-md-7">
							<div class="about-img animated out" data-animation="fadeInLeft" data-delay="0">
								<img src="/images/iphone_ipad.png" alt="">
							</div> <!-- end about-img -->
						</div> <!-- end col-md-7 -->

						<div class="col-md-5">
							<div class="about-text animated out" data-animation="fadeInRight" data-delay="0">
								<h1>It's just Amazing</h1>
								<p> This platform is open to anyone who would like to know the beautiful history behind some beautiful historical places in Africa even before they first visit these places. histAfrique content is sourced from different websites of African history across the continent. These websites are referenced. It is also open to any person who has indepth knowledge and interest in the subject.</p>
								{{#if currentUser}}
								<div class="about-action-btns">
									<a href="{{pathFor 'events'}}" class="btn clean">Let's Tour</a>
									
								</div> <!-- end about-action-btns -->
								{{else}}
								<div class="about-action-btns">
									<a href="{{pathFor 'signup'}}" class="btn clean">Register</a>
									<a href="{{pathFor 'signin'}}" class="btn clean">Sign-In</a>
								</div> <!-- end about-action-btns -->
								{{/if}}
							</div> <!-- end about-text -->
						</div> <!-- end col-md-5 -->
					</div> <!-- end row -->
				</div> <!-- end about-us -->
			</div> <!-- end container -->
		</div>
	</section>
	<!-- end about section -->
</template>