<template name="modals">
	<!-- Modal for Events -->
	<div class="modal fade" id="createEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">New Event</h4>
				</div>
				<div class="modal-body">
					{{> quickForm collection="Events" id="insertEventForm" type="insert"}}

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- end of Modal for Events-->

	<!-- Modal for Edit Events -->
	<div class="modal fade" id="editEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Edit Event</h4>
				</div>
				<div class="modal-body">
					
					<!-- 	{{> quickForm collection="Events" id="insertEventForm" type="insert"}} -->

					{{> quickForm collection="Events" doc=this id="updateEventForm" type="update"}}


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- end of Modal for Edit Events-->

	<!-- / Success message modal Events-->
	<div class="modal fade" id="eventSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					You have successfully created an Event.

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div>
		</div>
	</div>
	<!-- / End of Success message modal Events -->

	<!-- / Success message modal profile-->
	<div class="modal fade" id="profileSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					You have successfully created your Profile.

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div>
		</div>
	</div>
	<!-- / End of Success message modal Profile-->

	<!-- Modal for EventPictures -->
	<div class="modal fade" id="createEventPicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">New Picture</h4>
				</div>
				<div class="modal-body">
					{{> quickForm collection="EventPictures" id="insertEventPictureForm" type="insert"}}

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- end of Modal for Events-->
	<!-- Modal for Update Profile -->
	<div class="modal fade" id="UpdateProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">New Event</h4>
				</div>
				<div class="modal-body">
					{{> quickForm id="updateProfileForm" collection="Profiles" doc=this type="update"}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- end of Modal for UpdateProfile-->

	<!-- Modal for EventPictures Success -->
	<div class="modal fade" id="EventPicturesSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					You have successfully uploaded an Image.

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- end of Modal for EventPictures Success-->

	<!-- Modal for Bookings -->
	<div class="modal fade" id="bookEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- {{#if createevents}} -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button> 
					<!-- {{#if createevents}} -->
					<h4 class="modal-title" id="myModalLabel" data-book-event="{{_id}}">Book for {{eventName}}</h4>
					
				</div>
				<!-- {{/if}} -->
				<div class="modal-body">
					{{> quickForm collection="Bookings" id="insertBookingForm" type="insert"}}

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- end of Modal for Bookings-->

	<!-- Modal for Successfully Booking an Event -->
	<div class="modal fade" id="EventBookingSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					You have successfully Joined this Event.Please check your mail for confirmation in 30min time.

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- end of Modal for Successfully Booking an Event -->


	<!-- / Success message modal Login-->
	<div class="modal fade" id="signinSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Sign-in Success</h4>
				</div>
				<div class="modal-body">
					You have successfully signed-In.

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- / End of Success message modal Login-->

	<!-- / Success message modal SignUp-->
	<div class="modal fade" id="signupSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Welcome</h4>
				</div>
				<div class="modal-body">
					You have successfully signed-Up. Please Create your Profile to complete the process

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	
	<!-- / End of Success message modal SignUp-->


	<!-- / modal message to tell user to login-->
	<div class="modal fade" id="pleaseSignIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Information</h4>
				</div>
				<div class="modal-body">
					Please Register or Login to be able to access this page
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	
	<!-- / End of Modal message to login-->

	<!-- Modal for Comments -->
	<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Please Leave a Review</h4>
				</div>
				<div class="modal-body">
					{{> quickForm collection="Comments" id="insertCommentForm" type="insert"}}

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- end of Modal for Comments-->

	<!-- Modal for Comments -->
	<div class="modal fade" id="successCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Comments</h4>
				</div>
				<div class="modal-body">
					Thank You for your time and comment

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- end of Modal for Comments-->

	<!-- Modal for sign in before adding Comments -->
	<div class="modal fade" id="signinBeforeComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Information</h4>
				</div>
				<div class="modal-body">
					We would appreciate if you Register or Signin before leaving a comment

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- end of Modal for sign in before adding Comments-->
</template>