<template name="navigation">
	<div class="navbar navbar-default navbar-fixed-top " role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{pathFor 'home'}}">histAfrique</a>
			</div>
			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="{{pathFor 'home'}}">Home</a></li>
					<!-- this is where the nav bar items(Profile, dashboard, signIn and signOut. it should be uncommented one by one ) should be. -->
					
					<li><a href="{{pathFor 'events'}}">tour</a></li> 
					{{#if currentUser}}
					<li><a href="{{pathFor 'myBoard'}}">dashboard</a></li>
					{{/if}} 
					
					{{#if currentUser}}
					<li><a href="{{pathFor 'signout'}}">Sign-Out</a>
					</li>
					{{else}}
					<li><a href="{{pathFor 'signup'}}">Register</a>
					</li>
					<li><a href="{{pathFor 'signin'}}">Sign-In</a>
					</li> 
					{{/if}} 
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container -->
	</div><!--navbar-default end-->
</template>
