<!-- <template name="province">
	<div class="body">
		<div class="province">

			{{> quickForm collection="Province" id="insertProvinceForm" type="insert"}}


			<select class="combobox" id="test">
				
				<option>select Country</option>
				{{#each countries}}
				<option data-id="{{_id}}">
					{{countries}}<br>
				</option>
				{{/each}}
				
			</select>

			{{#each countries}}
			<a href="" id="test1">
				{{countries}}
			</a>
			{{/each}}

			<select class="combobox" id="">
				<option>Select a Province</option>
				{{#each province}}
				<option value="">
					{{province}}<br>
				</option>
				{{/each}}
			</select>
		</div>

	</div>

</template> -->