<template name="view_bookings">
	<div class="body">

		{{#if bookings}}
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Bookings for {{placeName}}</h3>
							<div class="pull-right">
								<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
									<i class="glyphicon glyphicon-filter"></i>
								</span>
							</div>
						</div>
						<div class="panel-body">
							<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
						</div>
						<div class="table">
							<table class="table table-hover" id="dev-table">
								<thead>
									<tr>
										<th>FullName</th>
										<th>Email</th>
										<th>contact</th>
									</tr>
								</thead>
								{{#each bookings}}
								<tbody>
									<tr>
										<td>{{fullName}}</td>
										<td>{{email}} </td>
										<td>{{contact}} </td>
									</tr>
								</tbody>
								{{/each}}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{else}}
		<div class="alert alert-info">
			<h3>No Bookings yet</h3>
		</div>
		{{/if}}
	</div>
</template>