/* =================================================================== */
/* Styles Switcher
====================================================================== */

#style-switcher h3 {
    color: #000;
    font-size: 12px;
    margin: 0px 0 -3px 3px;
}
#style-switcher {
    background: #333;
    position: fixed;
    left: 0;
    z-index: 9999;
    top: 100px;
}
#style-switcher div {
    padding: 5px 10px;
}
#style-switcher h2 {
    margin: 0;
}
#style-switcher h2 a {
    display: block;
    position: absolute;
    right: -66px;
    top: 0;
    border-radius: 0px;
    background: #333;
    color: white;
    padding: 10px 13px;
    text-decoration: none;
}
.colors {
    list-style: none;
    margin: 0;
    padding: 0;
}
.colors li {
    float: left;
    /*margin: 2px;*/
}
.colors li a {
    display: block;
    width: 64px;
    height: 64px;
    cursor: pointer;
}
.blue {
    background: #18bcf9;
}
.brown {
    background: #B64926;
}
.black {
    background: #333333;
}
.danger {
    background: #d9534f;
}
.dark {
    background: #363942;
}
.green {
    background: #00af00;
}
.green2 {
    background: #a7cb00;
}
.info {
    background: #5bc0de;
}
.orange {
    background: #f0ad4e;
}
.pink {
    background: #d70b62;
}
.purple {
    background: #7c36a6;
}
.red {
    background: #f90706;
}
.success {
    background: #5cb85c;
}
.torquoise {
    background: #0bc560;
}
.torquoise2 {
    background: #00A388;
}
.warning {
    background: #f0ad4e;
}
@media only screen and (max-width: 1029px) {
    #style-switcher {
        display: none;
    }
}
